

<div class="overLay position-absolute w-100" id="overLay">
    <div class="text-center pt-5">
        <h1 id="welcome"> </h1>
        <h2 id="alMostafa"> </h2>
       <h3 id="text"> </h3>
    </div>
</div>

<section id="AboutSection">

    <div class="container">

        <div class="row">

            <div class="MyPhoto col-12 col-sm-12 col-md-6 m-auto py-2 px-3 p-lg-5  text-center">
                <a target="blank" href="https://www.facebook.com/profile.php?id=100009898380220">
                    <img title="Ahmed Adel" class="w-100 " src="assets/img/myphoto2.jpg" alt="Ahmed Adel">
                </a>
            </div>

            <div class="MyInfo col-12 col-sm-12 col-md-6  p-3 p-lg-5   ">

                <p><span class="text-primary"> Name : </span> Ahmed Adel </p>
                <p><span class="text-primary"> Age : </span> 24 year </p>
                <p> <span class="text-primary"> Country :</span> Egypt</p>
                <p><span class="text-primary"> City :</span> Alexandria</p>
                <p><span class="text-primary"> Address :</span> Montaza</p>
                <p><span class="text-primary"> Account : </span> Seniorahmedadel@yahoo.com </p>
                <p><span class="text-primary"> Gmail :</span> Ahmedzkazzanova@gmail.com</p>
                <h6>
                    <span class="text-primary"> Skills => </span>
                    <ul>
                        <li> Html 5 </li>
                        <li> Css 3 </li>
                        <li>Sass</li>
                        <li>Web responsive</li>
                        <li> BootStrap 5</li>
                        <li>EcmaScript 6</li>
                        <li> JavaScript </li>
                        <li> Angular </li>
                        <li>typeScript</li>
                        <li>Dom </li>
                        <li>OOP</li>
                        <li>Ajax Api'S</li>
                        <li> JQuery</li>

                    </ul>
                </h6>



            </div>

        </div>

    </div>
</section>