/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.starsec {
    content: " ";
    position: absolute;
    width: 2.5px;
    height: 2.5px;
    background: transparent;
    -webkit-box-shadow: 571px 173px #9E9E9E,
        1732px 143px #9E9E9E,
        1745px 454px wheat,
        234px 784px #9E9E9E,
        1793px 1123px white,
        1076px 504px #9E9E9E,
        633px 601px wheat,
        350px 630px white,
        1164px 782px #9E9E9E,
        76px 690px wheat,
        1825px 701px wheat,
        1646px 578px wheat,
        544px 293px #9E9E9E,
        445px 1061px white,
        928px 47px #9E9E9E,
        168px 1410px wheat,
        777px 782px white,
        1235px 1941px wheat,
        104px 1690px white,
        1167px 1338px wheat,
        345px 1652px #9E9E9E,
        1682px 1196px wheat,
        1995px 494px white,
        428px 798px wheat,
        340px 1623px white,
        605px 349px wheat,
        1339px 1344px white,
        1102px 1745px wheat,
        1592px 1676px #9E9E9E,
        419px 1024px white,
        630px 1033px wheat,
        1995px 1644px #9E9E9E,
        1092px 712px wheat,
        1355px 606px wheat,
        622px 1881px wheat,
        1481px 621px #9E9E9E,
        19px 1348px wheat,
        864px 1780px wheat,
        442px 1136px #9E9E9E,
        67px 712px wheat,
        89px 1406px wheat,
        275px 321px #9E9E9E,
        592px 630px wheat,
        1012px 1690px wheat,
        1749px 23px wheat,
        94px 1542px white,
        1201px 1657px wheat,
        1505px 692px #9E9E9E,
        1799px 601px #9E9E9E,
        656px 811px #9E9E9E,
        701px 597px #9E9E9E,
        1202px 46px white,
        890px 569px wheat,
        1613px 813px #9E9E9E,
        223px 252px white,
        983px 1093px wheat,
        726px 1029px wheat,
        1764px 778px wheat,
        622px 1643px white,
        174px 1559px wheat,
        212px 517px #9E9E9E,
        340px 505px white,
        1700px 39px #FFF,
        1768px 516px wheat,
        849px 391px white,
        228px 1824px #FFF,
        1119px 1680px wheat,
        812px 1480px white,
        1438px 1585px wheat,
        137px 1397px #FFF,
        1080px 456px white,
        1208px 1437px wheat,
        857px 281px wheat,
        1254px 1306px wheat,
        987px 990px white,
        1655px 911px #9E9E9E,
        1102px 1216px wheat,
        1807px 1044px #FFF,
        660px 435px #9E9E9E,
        299px 678px white,
        1193px 115px wheat,
        918px 290px white,
        1447px 1422px wheat,
        91px 1273px white,
        108px 223px wheat,
        146px 754px #9E9E9E,
        461px 1446px white,
        1004px 391px wheat,
        1529px 516px wheat,
        1206px 845px white,
        347px 583px #9E9E9E,
        1102px 1332px wheat,
        709px 1756px #9E9E9E,
        1972px 248px #FFF,
        1669px 1344px wheat,
        1132px 406px wheat,
        320px 1076px white,
        126px 943px wheat,
        263px 604px white,
        1546px 692px white;
    box-shadow: 571px 173px #9E9E9E,
        1732px 143px #9E9E9E,
        1745px 454px wheat,
        234px 784px #9E9E9E,
        1793px 1123px white,
        1076px 504px #9E9E9E,
        633px 601px wheat,
        350px 630px white,
        1164px 782px #9E9E9E,
        76px 690px wheat,
        1825px 701px wheat,
        1646px 578px wheat,
        544px 293px #9E9E9E,
        445px 1061px white,
        928px 47px #9E9E9E,
        168px 1410px wheat,
        777px 782px white,
        1235px 1941px wheat,
        104px 1690px white,
        1167px 1338px wheat,
        345px 1652px #9E9E9E,
        1682px 1196px wheat,
        1995px 494px white,
        428px 798px wheat,
        340px 1623px white,
        605px 349px wheat,
        1339px 1344px white,
        1102px 1745px wheat,
        1592px 1676px #9E9E9E,
        419px 1024px white,
        630px 1033px wheat,
        1995px 1644px #9E9E9E,
        1092px 712px wheat,
        1355px 606px wheat,
        622px 1881px wheat,
        1481px 621px #9E9E9E,
        19px 1348px wheat,
        864px 1780px wheat,
        442px 1136px #9E9E9E,
        67px 712px wheat,
        89px 1406px wheat,
        275px 321px #9E9E9E,
        592px 630px wheat,
        1012px 1690px wheat,
        1749px 23px wheat,
        94px 1542px white,
        1201px 1657px wheat,
        1505px 692px #9E9E9E,
        1799px 601px #9E9E9E,
        656px 811px #9E9E9E,
        701px 597px #9E9E9E,
        1202px 46px white,
        890px 569px wheat,
        1613px 813px #9E9E9E,
        223px 252px white,
        983px 1093px wheat,
        726px 1029px wheat,
        1764px 778px wheat,
        622px 1643px white,
        174px 1559px wheat,
        212px 517px #9E9E9E,
        340px 505px white,
        1700px 39px #FFF,
        1768px 516px wheat,
        849px 391px white,
        228px 1824px #FFF,
        1119px 1680px wheat,
        812px 1480px white,
        1438px 1585px wheat,
        137px 1397px #FFF,
        1080px 456px white,
        1208px 1437px wheat,
        857px 281px wheat,
        1254px 1306px wheat,
        987px 990px white,
        1655px 911px #9E9E9E,
        1102px 1216px wheat,
        1807px 1044px #FFF,
        660px 435px #9E9E9E,
        299px 678px white,
        1193px 115px wheat,
        918px 290px white,
        1447px 1422px wheat,
        91px 1273px white,
        108px 223px wheat,
        146px 754px #9E9E9E,
        461px 1446px white,
        1004px 391px wheat,
        1529px 516px wheat,
        1206px 845px white,
        347px 583px #9E9E9E,
        1102px 1332px wheat,
        709px 1756px #9E9E9E,
        1972px 248px #FFF,
        1669px 1344px wheat,
        1132px 406px wheat,
        320px 1076px white,
        126px 943px wheat,
        263px 604px white,
        1546px 692px white;
    -webkit-animation: animStar 100s linear infinite;
    animation: animStar 100s linear infinite;
}

.starthird {
    content: " ";
    position: absolute;
    width: 3px;
    height: 3px;
    background: transparent;
    -webkit-box-shadow: 571px 173px #9E9E9E,
        1732px 143px #9E9E9E,
        1745px 454px white,
        234px 784px #9E9E9E,
        1793px 1123px wheat,
        1076px 504px #9E9E9E,
        633px 601px wheat,
        350px 630px white,
        1164px 782px #9E9E9E,
        76px 690px wheat,
        1825px 701px wheat,
        1646px 578px white,
        544px 293px #9E9E9E,
        445px 1061px wheat,
        928px 47px #9E9E9E,
        168px 1410px white,
        777px 782px wheat,
        1235px 1941px white,
        104px 1690px wheat,
        1167px 1338px white,
        345px 1652px #9E9E9E,
        1682px 1196px wheat,
        1995px 494px white,
        428px 798px wheat,
        340px 1623px white,
        605px 349px white,
        1339px 1344px wheat,
        1102px 1745px white,
        1592px 1676px white,
        419px 1024px wheat,
        630px 1033px white,
        1995px 1644px #9E9E9E,
        1092px 712px wheat,
        1355px 606px white,
        622px 1881px wheat,
        1481px 621px #9E9E9E,
        19px 1348px white,
        864px 1780px wheat,
        442px 1136px #9E9E9E,
        67px 712px white,
        89px 1406px white,
        275px 321px #9E9E9E,
        592px 630px wheat,
        1012px 1690px white,
        1749px 23px wheat,
        94px 1542px white,
        1201px 1657px wheat,
        1505px 692px #9E9E9E,
        1799px 601px #9E9E9E,
        656px 811px #9E9E9E,
        701px 597px #9E9E9E,
        1202px 46px white,
        890px 569px wheat,
        1613px 813px #9E9E9E,
        223px 252px white,
        983px 1093px wheat,
        726px 1029px white,
        1764px 778px wheat,
        622px 1643px white,
        174px 1559px wheat,
        212px 517px #9E9E9E,
        340px 505px #FFF,
        1700px 39px #FFF,
        1768px 516px wheat,
        849px 391px white,
        228px 1824px #FFF,
        1119px 1680px white,
        812px 1480px wheat,
        1438px 1585px white,
        137px 1397px #FFF,
        1080px 456px wheat,
        1208px 1437px #9E9E9E,
        857px 281px wheat,
        1254px 1306px wheat,
        987px 990px white,
        1655px 911px #9E9E9E,
        1102px 1216px wheat,
        1807px 1044px #FFF,
        660px 435px #9E9E9E,
        299px 678px white,
        1193px 115px wheat,
        918px 290px white,
        1447px 1422px wheat,
        91px 1273px white,
        108px 223px wheat,
        146px 754px #9E9E9E,
        461px 1446px wheat,
        1004px 391px white,
        1529px 516px white,
        1206px 845px white,
        347px 583px #9E9E9E,
        1102px 1332px wheat,
        709px 1756px #9E9E9E,
        1972px 248px #FFF,
        1669px 1344px white,
        1132px 406px wheat,
        320px 1076px white,
        126px 943px wheat,
        263px 604px white,
        1546px 692px wheat;
    box-shadow: 571px 173px #9E9E9E,
        1732px 143px #9E9E9E,
        1745px 454px white,
        234px 784px #9E9E9E,
        1793px 1123px wheat,
        1076px 504px #9E9E9E,
        633px 601px wheat,
        350px 630px white,
        1164px 782px #9E9E9E,
        76px 690px wheat,
        1825px 701px wheat,
        1646px 578px white,
        544px 293px #9E9E9E,
        445px 1061px wheat,
        928px 47px #9E9E9E,
        168px 1410px white,
        777px 782px wheat,
        1235px 1941px white,
        104px 1690px wheat,
        1167px 1338px white,
        345px 1652px #9E9E9E,
        1682px 1196px wheat,
        1995px 494px white,
        428px 798px wheat,
        340px 1623px white,
        605px 349px white,
        1339px 1344px wheat,
        1102px 1745px white,
        1592px 1676px white,
        419px 1024px wheat,
        630px 1033px white,
        1995px 1644px #9E9E9E,
        1092px 712px wheat,
        1355px 606px white,
        622px 1881px wheat,
        1481px 621px #9E9E9E,
        19px 1348px white,
        864px 1780px wheat,
        442px 1136px #9E9E9E,
        67px 712px white,
        89px 1406px white,
        275px 321px #9E9E9E,
        592px 630px wheat,
        1012px 1690px white,
        1749px 23px wheat,
        94px 1542px white,
        1201px 1657px wheat,
        1505px 692px #9E9E9E,
        1799px 601px #9E9E9E,
        656px 811px #9E9E9E,
        701px 597px #9E9E9E,
        1202px 46px white,
        890px 569px wheat,
        1613px 813px #9E9E9E,
        223px 252px white,
        983px 1093px wheat,
        726px 1029px white,
        1764px 778px wheat,
        622px 1643px white,
        174px 1559px wheat,
        212px 517px #9E9E9E,
        340px 505px #FFF,
        1700px 39px #FFF,
        1768px 516px wheat,
        849px 391px white,
        228px 1824px #FFF,
        1119px 1680px white,
        812px 1480px wheat,
        1438px 1585px white,
        137px 1397px #FFF,
        1080px 456px wheat,
        1208px 1437px #9E9E9E,
        857px 281px wheat,
        1254px 1306px wheat,
        987px 990px white,
        1655px 911px #9E9E9E,
        1102px 1216px wheat,
        1807px 1044px #FFF,
        660px 435px #9E9E9E,
        299px 678px white,
        1193px 115px wheat,
        918px 290px white,
        1447px 1422px wheat,
        91px 1273px white,
        108px 223px wheat,
        146px 754px #9E9E9E,
        461px 1446px wheat,
        1004px 391px white,
        1529px 516px white,
        1206px 845px white,
        347px 583px #9E9E9E,
        1102px 1332px wheat,
        709px 1756px #9E9E9E,
        1972px 248px #FFF,
        1669px 1344px white,
        1132px 406px wheat,
        320px 1076px white,
        126px 943px wheat,
        263px 604px white,
        1546px 692px wheat;
    -webkit-animation: animStar 40s linear infinite;
    animation: animStar 40s linear infinite;

}

.starfourth {
    content: " ";
    position: absolute;
    width: 2px;
    height: 2px;
    background: transparent;
    -webkit-box-shadow: 571px 173px#9E9E9E,
        1732px 143px #9E9E9E,
        1745px 454px white,
        234px 784px #9E9E9E,
        1793px 1123px white,
        1076px 504px #9E9E9E,
        633px 601px white,
        350px 630px white,
        1164px 782px #9E9E9E,
        76px 690px wheat,
        1825px 701px wheat,
        1646px 578px wheat,
        544px 293px #9E9E9E,
        445px 1061px wheat,
        928px 47px #9E9E9E,
        168px 1410px wheat,
        777px 782px wheat,
        1235px 1941px wheat,
        104px 1690px wheat,
        1167px 1338px wheat,
        345px 1652px #9E9E9E,
        1682px 1196px wheat,
        1995px 494px wheat,
        428px 798px wheat,
        340px 1623px wheat,
        605px 349px wheat,
        1339px 1344px wheat,
        1102px 1745px wheat,
        1592px 1676px #9E9E9E,
        419px 1024px wheat,
        630px 1033px wheat,
        1995px 1644px #9E9E9E,
        1092px 712px wheat,
        1355px 606px wheat,
        622px 1881px wheat,
        1481px 621px #9E9E9E,
        19px 1348px wheat,
        864px 1780px wheat,
        442px 1136px #9E9E9E,
        67px 712px wheat,
        89px 1406px wheat,
        275px 321px #9E9E9E,
        592px 630px wheat,
        1012px 1690px wheat,
        1749px 23px wheat,
        94px 1542px wheat,
        1201px 1657px wheat,
        1505px 692px#9E9E9E,
        1799px 601px #9E9E9E,
        656px 811px #9E9E9E,
        701px 597px #9E9E9E,
        1202px 46px wheat,
        890px 569px wheat,
        1613px 813px #9E9E9E,
        223px 252px wheat,
        983px 1093px wheat,
        726px 1029px wheat,
        1764px 778px wheat,
        622px 1643px wheat,
        174px 1559px wheat,
        212px 517px #9E9E9E,
        340px 505px #FFF,
        1700px 39px #FFF,
        1768px 516px wheat,
        849px 391px wheat,
        228px 1824px #FFF,
        1119px 1680px wheat,
        812px 1480px wheat,
        1438px 1585px wheat,
        137px 1397px #FFF,
        1080px 456px wheat,
        1208px 1437px #9E9E9E,
        857px 281px wheat,
        1254px 1306px wheat,
        987px 990px wheat,
        1655px 911px #9E9E9E,
        1102px 1216px wheat,
        1807px 1044px #FFF,
        660px 435px #9E9E9E,
        299px 678px wheat,
        1193px 115px wheat,
        918px 290px wheat,
        1447px 1422px wheat,
        91px 1273px wheat,
        108px 223px wheat,
        146px 754px #9E9E9E,
        461px 1446px wheat,
        1004px 391px wheat,
        1529px 516px wheat,
        1206px 845px wheat,
        347px 583px #9E9E9E,
        1102px 1332px wheat,
        709px 1756px #9E9E9E,
        1972px 248px #FFF,
        1669px 1344px wheat,
        1132px 406px wheat,
        320px 1076px wheat,
        126px 943px wheat,
        263px 604px wheat,
        1546px 692px wheat;
    box-shadow: 571px 173px #9E9E9E,
        1732px 143px #9E9E9E,
        1745px 454px white,
        234px 784px #9E9E9E,
        1793px 1123px white,
        1076px 504px #9E9E9E,
        633px 601px white,
        350px 630px white,
        1164px 782px #9E9E9E,
        76px 690px wheat,
        1825px 701px wheat,
        1646px 578px wheat,
        544px 293px #9E9E9E,
        445px 1061px wheat,
        928px 47px #9E9E9E,
        168px 1410px wheat,
        777px 782px wheat,
        1235px 1941px wheat,
        104px 1690px wheat,
        1167px 1338px wheat,
        345px 1652px #9E9E9E,
        1682px 1196px wheat,
        1995px 494px wheat,
        428px 798px wheat,
        340px 1623px wheat,
        605px 349px wheat,
        1339px 1344px wheat,
        1102px 1745px wheat,
        1592px 1676px #9E9E9E,
        419px 1024px wheat,
        630px 1033px wheat,
        1995px 1644px #9E9E9E,
        1092px 712px wheat,
        1355px 606px wheat,
        622px 1881px wheat,
        1481px 621px #9E9E9E,
        19px 1348px wheat,
        864px 1780px wheat,
        442px 1136px #9E9E9E,
        67px 712px wheat,
        89px 1406px wheat,
        275px 321px #9E9E9E,
        592px 630px wheat,
        1012px 1690px wheat,
        1749px 23px wheat,
        94px 1542px wheat,
        1201px 1657px wheat,
        1505px 692px#9E9E9E,
        1799px 601px #9E9E9E,
        656px 811px #9E9E9E,
        701px 597px #9E9E9E,
        1202px 46px wheat,
        890px 569px wheat,
        1613px 813px #9E9E9E,
        223px 252px wheat,
        983px 1093px wheat,
        726px 1029px wheat,
        1764px 778px wheat,
        622px 1643px wheat,
        174px 1559px wheat,
        212px 517px #9E9E9E,
        340px 505px #FFF,
        1700px 39px #FFF,
        1768px 516px wheat,
        849px 391px wheat,
        228px 1824px #FFF,
        1119px 1680px wheat,
        812px 1480px wheat,
        1438px 1585px wheat,
        137px 1397px #FFF,
        1080px 456px wheat,
        1208px 1437px #9E9E9E,
        857px 281px wheat,
        1254px 1306px wheat,
        987px 990px wheat,
        1655px 911px #9E9E9E,
        1102px 1216px wheat,
        1807px 1044px #FFF,
        660px 435px #9E9E9E,
        299px 678px wheat,
        1193px 115px wheat,
        918px 290px wheat,
        1447px 1422px wheat,
        91px 1273px wheat,
        108px 223px wheat,
        146px 754px #9E9E9E,
        461px 1446px wheat,
        1004px 391px wheat,
        1529px 516px wheat,
        1206px 845px wheat,
        347px 583px #9E9E9E,
        1102px 1332px wheat,
        709px 1756px #9E9E9E,
        1972px 248px #FFF,
        1669px 1344px wheat,
        1132px 406px wheat,
        320px 1076px wheat,
        126px 943px wheat,
        263px 604px wheat,
        1546px 692px wheat;
    -webkit-animation: animStar 50s linear infinite;
    animation: animStar 50s linear infinite;
}

.starfifth {
    content: " ";
    position: absolute;
    width: 2px;
    height: 2px;
    background: transparent;
    -webkit-box-shadow: 571px 173px #9E9E9E,
        1732px 143px #9E9E9E,
        1745px 454px white,
        234px 784px #9E9E9E,
        1793px 1123px white,
        1076px 504px #9E9E9E,
        633px 601px white,
        350px 630px white,
        1164px 782px #9E9E9E,
        76px 690px white,
        1825px 701px white,
        1646px 578px white,
        544px 293px #9E9E9E,
        445px 1061px white,
        928px 47px #9E9E9E,
        168px 1410px white,
        777px 782px white,
        1235px 1941px white,
        104px 1690px white,
        1167px 1338px white,
        345px 1652px #9E9E9E,
        1682px 1196px white,
        1995px 494px white,
        428px 798px white,
        340px 1623px white,
        605px 349px white,
        1339px 1344px white,
        1102px 1745px white,
        1592px 1676px #9E9E9E,
        419px 1024px white,
        630px 1033px white,
        1995px 1644px #9E9E9E,
        1092px 712px white,
        1355px 606px white,
        622px 1881px white,
        1481px 621px #9E9E9E,
        19px 1348px white,
        864px 1780px white,
        442px 1136px #9E9E9E,
        67px 712px white,
        89px 1406px white,
        275px 321px #9E9E9E,
        592px 630px white,
        1012px 1690px white,
        1749px 23px white,
        94px 1542px white,
        1201px 1657px white,
        1505px 692px #9E9E9E,
        1799px 601px #9E9E9E,
        656px 811px #9E9E9E,
        701px 597px #9E9E9E,
        1202px 46px white,
        890px 569px white,
        1613px 813px #9E9E9E,
        223px 252px white,
        983px 1093px white,
        726px 1029px white,
        1764px 778px white,
        622px 1643px white,
        174px 1559px white,
        212px 517px #9E9E9E,
        340px 505px #FFF,
        1700px 39px #FFF,
        1768px 516px white,
        849px 391px white,
        228px 1824px #FFF,
        1119px 1680px white,
        812px 1480px white,
        1438px 1585px white,
        137px 1397px #FFF,
        1080px 456px white,
        1208px 1437px #9E9E9E,
        857px 281px white,
        1254px 1306px #9E9E9E,
        987px 990px white,
        1655px 911px #9E9E9E,
        1102px 1216px white,
        1807px 1044px #FFF,
        660px 435px #9E9E9E,
        299px 678px white,
        1193px 115px white,
        918px 290px white,
        1447px 1422px white,
        91px 1273px white,
        108px 223px white,
        146px 754px white,
        461px 1446px white,
        1004px 391px white,
        1529px 516px white,
        1206px 845px white,
        347px 583px #9E9E9E,
        1102px 1332px white,
        709px 1756px #9E9E9E,
        1972px 248px #FFF,
        1669px 1344px white,
        1132px 406px white,
        320px 1076px white,
        126px 943px white,
        263px 604px white,
        1546px 692px white;
    box-shadow: 571px 173px #9E9E9E,
        1732px 143px #9E9E9E,
        1745px 454px white,
        234px 784px #9E9E9E,
        1793px 1123px white,
        1076px 504px #9E9E9E,
        633px 601px white,
        350px 630px white,
        1164px 782px #9E9E9E,
        76px 690px white,
        1825px 701px white,
        1646px 578px white,
        544px 293px #9E9E9E,
        445px 1061px white,
        928px 47px #9E9E9E,
        168px 1410px white,
        777px 782px white,
        1235px 1941px white,
        104px 1690px white,
        1167px 1338px white,
        345px 1652px #9E9E9E,
        1682px 1196px white,
        1995px 494px white,
        428px 798px white,
        340px 1623px white,
        605px 349px white,
        1339px 1344px white,
        1102px 1745px white,
        1592px 1676px #9E9E9E,
        419px 1024px white,
        630px 1033px white,
        1995px 1644px #9E9E9E,
        1092px 712px white,
        1355px 606px white,
        622px 1881px white,
        1481px 621px #9E9E9E,
        19px 1348px white,
        864px 1780px white,
        442px 1136px #9E9E9E,
        67px 712px white,
        89px 1406px white,
        275px 321px #9E9E9E,
        592px 630px white,
        1012px 1690px white,
        1749px 23px white,
        94px 1542px white,
        1201px 1657px white,
        1505px 692px #9E9E9E,
        1799px 601px #9E9E9E,
        656px 811px #9E9E9E,
        701px 597px #9E9E9E,
        1202px 46px white,
        890px 569px white,
        1613px 813px #9E9E9E,
        223px 252px white,
        983px 1093px white,
        726px 1029px white,
        1764px 778px white,
        622px 1643px white,
        174px 1559px white,
        212px 517px #9E9E9E,
        340px 505px #FFF,
        1700px 39px #FFF,
        1768px 516px white,
        849px 391px white,
        228px 1824px #FFF,
        1119px 1680px white,
        812px 1480px white,
        1438px 1585px white,
        137px 1397px #FFF,
        1080px 456px white,
        1208px 1437px #9E9E9E,
        857px 281px white,
        1254px 1306px #9E9E9E,
        987px 990px white,
        1655px 911px #9E9E9E,
        1102px 1216px white,
        1807px 1044px #FFF,
        660px 435px #9E9E9E,
        299px 678px white,
        1193px 115px white,
        918px 290px white,
        1447px 1422px white,
        91px 1273px white,
        108px 223px white,
        146px 754px white,
        461px 1446px white,
        1004px 391px white,
        1529px 516px white,
        1206px 845px white,
        347px 583px #9E9E9E,
        1102px 1332px white,
        709px 1756px #9E9E9E,
        1972px 248px #FFF,
        1669px 1344px white,
        1132px 406px white,
        320px 1076px white,
        126px 943px white,
        263px 604px white,
        1546px 692px white;
    -webkit-animation: animStar 10s linear infinite;
    animation: animStar 10s linear infinite;

}

@-webkit-keyframes animStar {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    100% {
        -webkit-transform: translateY(-4500px);
        transform: translateY(-4500px);
    }
}

@keyframes animStar {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    100% {
        -webkit-transform: translateY(-4500px);
        transform: translateY(-4500px);
    }
}