
  <div id="Btn" class="position-fixed" >
    <svg  width="27" height="27" fill="currentColor" class="bi bi-arrow-up-circle-fill text-primary" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
      </svg>
</div>

    <header *ngIf="Error" class="vh-100 d-flex justify-content-center position-relative "  >
        <div class="cover position-absolute top-0 bottom-0 start-0 end-0 ">
        </div>
        <div class="container wow fadeInDown" data-wow-duration="0.8s" data-wow-delay="0.4s">
            <h2 id="Adress">Home Page</h2>
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let Home of ReturnAll">
                  <ng-template carouselSlide [id]="Home.id">
                    <img  [src]="ImgSrc+Home.poster_path" class="p-2">
                  </ng-template>
                </ng-container>
              </owl-carousel-o>
        </div>
    </header>




  <div class="error d-flex justify-content-center align-items-center " *ngIf="!Error">
    <div class="alert alert-danger text-center align-self-center m-auto">
        Sorry Data Is Not Found
    </div>
</div>

<section *ngIf="Error" id="Setion1">

    <div class="Pagination">
        <ngb-pagination class="d-flex justify-content-center" [collectionSize]="totalItems" [(page)]="page"
            (pageChange)="pageChanged($event)" [maxSize]="7" [rotate]="true" [ellipses]="true" [boundaryLinks]="true"
            ngbPaginationNumber current="page" aria-current="page" aria="page">
        </ngb-pagination>
    </div>


    <div class="container">
        <div class="row">
            <div data-wow-offset="15" data-wow-duration="0.6s" data-wow-delay="0.3s" *ngFor="let Getall of ReturnAll" class="col-12 col-sm-6 col-md-4 col-lg-3  p-3 wow fadeInUp   ">

                <div class="Film position-relative   p-0">

                    <span
                        class="position-absolute vote d-flex justify-content-center align-items-center text-center top-0 end-0">
                        {{Getall.vote_average}}
                    </span>
                    <img    [src]="ImgSrc+Getall.poster_path " class="w-100">


                    <div class="FilmTitle d-flex justify-content-center  text-center position-absolute top-0 end-0 start-0 bottom-0 ">

                        <h3  [routerLink]="['/Moviedetails' , Getall.id  ]"    class="m-auto position-relative  "> {{Getall.title}} </h3>
                        <h3  [routerLink]="['/Tvdatails' ,Getall.id ]"  class="w-100 position-relative  ">  {{Getall.name}}</h3>

                       

                        
                        <p class="Media_type w-100  "> {{Getall.media_type}} <span> ( {{Getall.original_language}}
                                {{Getall.gender}} )</span></p>
                        <p > {{Getall.overview.split(' ').splice(0,18).join(' ')}}... </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Pagination">
        <ngb-pagination class="d-flex justify-content-center" [collectionSize]="totalItems" [(page)]="page"
            (pageChange)="pageChanged($event)" [maxSize]="7" [rotate]="true" [ellipses]="true" [boundaryLinks]="true"
            ngbPaginationNumber current="page" aria-current="page" aria="page">
        </ngb-pagination>
    </div>
</section>