
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 10 version
*/


/*********** Header *********************/
header {
    background-image: url(../../assets/img/header.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;

}


img {
    cursor: pointer;
}

/********* End Header **********************/
section {

    padding: 0px 0px 50px 0px;
}

.Film {
    cursor: pointer;
    overflow: hidden;
}

.Film:hover .FilmTitle {
    visibility: visible;
}

.Film:hover .FilmTitle h3 {
    top: 0px;
}

.Film:hover .FilmTitle .Media_type {
    top: 0px;
}

.Film:hover .FilmTitle p {
    bottom: 0px;
}

.Film:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.Film img {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.FilmTitle h3 {
    padding: 5px;
    top: -140px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}


.FilmTitle p {
    padding: 5px;
    font-size: 17px;
    position: relative;
    bottom: -205px;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;

}

.Film .vote {
    z-index: 2;
    width: 32px;
    height: 32px;
    line-height: 1.6;
    border-bottom-left-radius: 7px;
    background-color: rgba(30, 30, 30, 0.85);
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.FilmTitle {
    color: wheat;
    position: absolute;
    background-color: rgba(35, 35, 35, 0.6);
    display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    visibility: hidden;


}

.Media_type {
    text-transform: capitalize;
    top: 300px;

}

.error {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;

}

.error div {
    width: 90%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;

}

.Pagination {
    background-color: transparent;
    margin: 50px auto;


}
/******************************************/
#Btn{
    bottom: 5vh;
    right: 5vh;
    cursor: pointer;
    z-index: 999999;
    border: 3px solid white;
    border-radius: 50%;

}